html *
{
    th {background-color: thistle; border: black solid 1px; text-align: left;
        padding-left: 10px; padding-right: 10px; vertical-align: top;}
    td {background-color: white; border: black solid 1pt; padding-left: 10px;
        padding-right: 10px; vertical-align: top;}
    table {width: 90%; border: 0px; cellpadding: 0px;}
}

#INPUT 
{
    border: none; 
	margin:auto;
    color: black;
    font-family: monospace;
    height: 1in;
    overflow: auto;
    /* padding: 0.5em; */
    width: 100%;
    background-color: white; 
	text-align:left;
}
body { background-color: #333333; }
#OUTPUT 
{
    background-color: white; 
	margin:auto;
    width:80%;
}


a {
  font-size: x-large;
  text-decoration:none;
}


nav {
    text-align: center;
}

nav li {
    list-style: none;
    display: inline;
    margin: 0 1em;
}

.mylink {
  background-color: #66FFCC;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border: 5px solid #009900;
  padding: 5px;
}

/* Supress borders after the button is pressed */
#PARSE:focus {outline:0; }

#titulo{
	text-align:center; 
	font-family:Impact; 
	font-size:50px; 
	color:white;

}

#cuadro{
	margin:auto; 
	width:100%; 
	background-color:gray; 
	padding-bottom:20px;
}

#cuadro1{
	text-align:center;
}
#cuadro2{
	margin:auto;
	width: 80%;
}

#title1{
	font-family:Verdana; 
	font-size: 24px;	
	font-weight: bold; 
}

.barra{

				width: 90%;
				margin: auto;
				text-align: center;
				margin-top: 15px;
				margin-bottom: 15px;
			}
			
.barra1{

				width: 80%;
				margin: auto;
				height:auto;
				text-align: left;
				padding-top:0px;
				margin-top: 0px;
			}
			
			

.btn{
	background-color:#0F527A;
	text-align: center;
	font-size: 24px;
	font-weight: bold;	
	width: 180px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	cursor: pointer;	
	display: inline-block;
	border: solid;
	border-color: white;
	text-decoration:none;
	color:white;
	}
	.btn:hover {
	background-color: #245191;
	border: 1px solid #0f2557;
	border-radius: 9px;
}

.btn1{
	background-color:#0F527A;
	text-align: center;
	font-size: 15px;
	color:white;	
	width: 120px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	cursor: pointer;
	display: inline-block;
	text-decoration:none; 
	display: inline-block;
	
}
.btn1:hover {
	background-color: #245191;
	
}

.btn3{
	background-color:#0F527A;
	text-align: center;
	font-size: 24px;
	color:white;
	font-weight: bold;	
	width: 180px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	cursor: pointer;	
	display: inline-block;
	border: solid;
	border-color: white;
	text-decoration:none;
}
.btn3:hover {
	background-color: #245191;
	
}
